@media screen and (max-width: 600px) {
  .header-text h1 {
    position: relative;
    margin-top: 100px;
    width: 100%;
  }
  .btn-download {
    width: 70%;
    height: 40%;
    margin-bottom: 50px;
    border-color: #b9170f;
    color: #b9170f;
    justify-content: center;
  }
  .btn-learn-more {
    width: 50%;
    justify-content: center;
  }



/*About CSS*/
.gifts-vid {
  display: flex;
  align-items: center;
}

}
